*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#content{
    display: flex;
    flex-direction: row;
}

#left{
    width: 50px;
    height: 100vh;
    background: #f1f1f1;
    box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.3);
}

#nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100vh;
}

#nav-box{
    height: calc(100vh - 50px);
    overflow: hidden;
}

#right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 50px);
    height: 100vh;
    background: #fefefe;
}

.logo{
    width:50px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: grayscale(100%);
}

.logo>span{
    display: inline-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #eee;
    overflow: hidden;
}

.logo img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: cover;
}

.logo:hover{
    background: #d1d1d1;
    filter: grayscale(0%);
}

.highlighted .logo{
    border-left: 3px solid #10A37F;
    background: white;
    filter: grayscale(0%);
}

#set-box{
    margin-top: auto;
    height: 50px;
}

@media (prefers-color-scheme: dark) {
    #left{
        background: #111;
    }

    .logo:hover{
        background: #333;
    }

    .highlighted .logo{
        border-left: 3px solid #10A37F;
        background: #232327;
    }
}
